{% extends "templates/base.html" %}

{% block main-content %}
<section class="eui-hero" style="background: url('https://cdn.earthdata.nasa.gov/conduit/upload/947/LANCE_header_MODISAqua2.jpg') no-repeat top center">
  <h2 class="eui-hero__title">CMR Search</h2>
  <p class="eui-hero__subtitle">
  The Common Metadata Repository (CMR) is a high-performance, high-quality,
  continuously evolving metadata system that catalogs Earth Science data and
  associated service metadata records. These metadata records are registered,
  modified, discovered, and accessed through programmatic interfaces leveraging
  standard protocols and APIs.
  </p>
  <p>
    <a href="/site/docs/api" class="eui-btn--blue">Learn more</a>
  </p>
</section>
{% endblock %}
