{% extends "templates/landing.html" %}

{% block app-nav %}
  <li><a href="{{ base-url }}site/docs">Documentation</a></li>
  <li><a href="{{ base-url }}site/collections/directory">Directory</a></li>
{% endblock %}

{% block hero-title %}CMR Search{% endblock %}
{% block hero-subtitle %}
  The Common Metadata Repository (CMR) is a high-performance, high-quality,
  continuously evolving metadata system that catalogs Earth Science data and
  associated service metadata records. These metadata records are registered,
  modified, discovered, and accessed through programmatic interfaces leveraging
  standard protocols and APIs.
{% endblock %}

{% block hero-content %}
  <p>
    <a href="site/docs/api" class="eui-btn--blue">Learn more</a>
  </p>
{% endblock %}
