{% extends "templates/search-base.html" %}

{% block title %}{{ app-title }} - Directory of Landing Pages for EOSDIS Collections{% endblock %}

{% block main-content %}
<h2 class="cover-heading">Provider Holdings Directory</h2>
<h3 class="cover-heading">EOSDIS</h3>

<p>
  Listed here are all the EOSDIS providers linked to pages that list the
  collection landing pages. Note that the number of collections for each
  provider is given in parentheses after the provider ID.
</p>

<ul>
  {% for provider in providers %}
  <li>
    {% if provider.collections-count = 0 %}
      {{ provider.id }}
    {% else %}
      <a href="{{ base-url }}site/collections/directory/{{ provider.id }}/{{ provider.tag }}">{{ provider.id }}</a>
    {% endif %} ({{ provider.collections-count }})</li>
  {% endfor %}
</ul>
{% endblock %}
