{% extends "templates/search-base.html" %}

{% block title %}CMR Preview{% endblock %}

{% block head-pre-css %}
<script defer src="{{ preview-root }}/plugin/metadata-preview.{{ preview-version }}.js"></script>
<link href="{{ preview-root }}/plugin/metadata-preview.{{ preview-version }}.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main-content %}
<div id="metadata-preview">
  <p>Fetching Service...</p>
</div>
  <!-- TODO we need to update a new version of EUI compliant with bootstrap-5 fix styling in the meantime -->
  <style>
   h5 { 
      font-weight: bold;
      font-size: 1rem;
    }
  
    h4 { 
      font-weight: bold;
      font-size: 1.25rem;
      color: inherit;
    }
    table, td, th {
      border-color: #dee2e6 !important;
    }
  </style>
{% endblock %}

{% block body-end %}
<script>
  // Callback to set the page title when a service is successfully loaded
  function onSearchComplete(data) {
    var service = data.service;

    if (service && service.title) {
      document.title = service.title;
    }
  }

  // Ensure scripts have loaded before initializing the preview plugin
  document.addEventListener("DOMContentLoaded", function() {
    // Get the element where the content should be displayed
    const element = document.getElementById('metadata-preview');

    // Initialize the preview plugin with `.init(config, element)`
    const config = {
      conceptId: "{{ concept-id }}",
      conceptType: 'service',
      conceptUrlTemplate: '/search/concepts/{conceptId}.html',
      token: "{{ token }}",
      onSearchComplete: onSearchComplete
    }

    MetadataPreview.init(config, element);
  });
</script>
{% endblock %}
