{:caching
  {:init {}
   :ttl
    {:minutes 60}
   :lru
    {:threshold 1000}
   :dumpfile "data/cache/dump.edn"}
 :cmr
  {:base-url "https://cmr.sit.earthdata.nasa.gov"}
 :httpd
  {:port 3012
   :docroot "public"}
 :logging
  {:level :debug
   :nss [cmr.opendap org.httpkit]}}
