body {
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}
footer div.field {
  width: 100%;
  overflow: hidden;
}
footer div.field label {
  float: left;
  width: 130px;
  display: block;
}
footer div.field div.input {
  overflow: hidden;
}
footer span.label {
  font-weight: bold;
}
footer ul.checkboxes {
  padding-left: 2em;
  display: inline;
}
footer ul.checkboxes li {
  display: inline;
}
