[*.md]
indent_style = space
indent_size = 4 #this is important, the markdown for API docs will not see 2 spaces
insert_final_newline = true

[*.clj]
insert_final_newline = true

[*]
indent_style = space
indent_size = 2

