###############################
### Dev Env Files
###############################
*.swp
/logs
/.lein-*
.lein-env
*/.lein-*
profiles.clj
browse-scaler/src/node_modules
.classpath
.project
*.prefs
*.eastwood
.tags
.tags1
**/.clj-kondo/.cache
.lsp
.cider-repl-history
**/ignore.*
.calva*
*.ruby-version
.cljfmt.edn
dev-system/local.edn
*pycache*

###############################
### Test Files
###############################
*/testreports.xml
browse-scaler/src/__test__/junit.xml
browse-scaler/src/coverage
test2junit
schema-validation-lib/build.xml

###############################
### Build Files
###############################
/target
pom.xml
browse-scaler/src/*.zip
cmr-exchange/*/target

###############################
### macOS
###############################
.DS_Store

###############################
### IntelliJ
###############################
.idea/
*.iml

###############################
### Visual Studio
###############################
.vscode

###############################
### Emacs
###############################
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# docker volume mount point created with default config from CMR wiki,
# corresponds to opt/oracle/oradata
cmr-oracle-db/

# copied schemas
/indexer-app/resources/schemas/
/ingest-app/resources/schemas/
/metadata-db-app/resources/schemas/
/search-app/resources/schemas/
/system-int-test/resources/schemas/
/schemas/*/*.md
