modules = ["clojure-1.11", "web", "ruby-3.2"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "CMR Development"

[[workflows.workflow]]
name = "CMR Development"
author = 44932504
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lein repl :headless :host 0.0.0.0 :port 7888"
