#kaocha/v1
{:color? {:default true :ci false}

 :fail-fast? false

 :reporter [kaocha.report/dots]

 :plugins [:kaocha.plugin.alpha/info
           :print-invocations
           :profiling
           :notifier]}
