#kaocha/v1
{:color #profile {:default true :ci false}

 :fail-fast? false

 :reporter [kaocha.report.progress/report]

 :plugins [:kaocha.plugin.alpha/info
           :print-invocations
           :profiling
           :notifier]}
