{:elastic {
   :mode :dev
   :nodes {
     :dev [
       {:scheme "http" :host "localhost" :port 9210}
       {:scheme "http" :host "localhost" :port 9211}]
     :public [
       ]}}
 :logging {
   :level :trace
   :nss [cmr]
   :color false}
 :mission-control {
   :messaging-type :core-async}}
