<footer role="contentinfo">
    <ul class="footer-links">
      <li><span class="version badge eui-badge--md">v <%= Rails.configuration.version %></span></li>
      <li>NASA Official: Andrew Mitchell</li>
      <li><a href="http://www.nasa.gov/FOIA/index.html">FOIA</a></li>
      <li><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Privacy Policy</a></li>
      <li><a href="http://www.usa.gov/">USA.gov</a></li>
      <li><a href="javascript:feedback.showForm();">Feedback</a></li>
    </ul>
</footer>

<!-- Scripts that should be loaded in the footer to allow for faster page loads -->
<script id="feedback-tag" src="https://fbm.earthdata.nasa.gov/for/MMT/feedback.js"></script>
<script type="text/javascript">
  (function() {
    var initFeedback = function() {
      window.feedback.init({showIcon: false});
    }
    if (window.feedback) {
      initFeedback();
    }
    else {
      document.getElementById('feedback-tag').onload = initFeedback;
    }
  })();
</script>
