#kaocha/v1
{:tests [{:id :unit
          :ns-patterns ["cmr.indexer.test*" "-test$"]}

         {:id :integration
          :ns-patterns ["cmr.indexer.test*" "-test$"]
          :test-paths ["int-test"]}]

 :plugins [:kaocha.plugin.alpha/info
           :kaocha.plugin/cloverage
           :capture-output
           :junit-xml
           :notifier
           :print-invocations
           :profiling]

 :fail-fast? false

 :color? #profile {:default true
                   :ci false}

 :reporter #profile {:default kaocha.report.progress/report
                     :ci kaocha.report/documentation}

 :kaocha.plugin.junit-xml/target-file "target/junit.xml"

 ;; 3 slowest tests shown
 :kaocha.plugin.profiling/count 3
 :kaocha.plugin.profiling/profiling? true}
