{:elastic {
   :mode :dev
   :nodes {
     :dev [
       ;{:scheme "http" :host "localhost" :port 9210}
       {:scheme "http" :host "localhost" :port 9211}]
     :public [
       ]}
   :ingest {
     :batch-size 100000}}
 :logging {
   :level :info
   :nss [cmr]
   :color false}
 :mission-control {
   :messaging-type :core-async}}
