<% title_override = false if title_override.nil? %>
<% options = false if options.nil? %>

<% if !hash_for_key.nil? %>
  <% data_array = hash_for_key[key_name] %>
  <% if !data_array.nil? %>
    <% html_class_name = name_to_class(key_name) %>
      <ul class="sub-field">
        <% data_array.each_with_index do |element_of_array, index| %>
          <li class="<%= html_class_name %>-<%= index %>">
            <%= options ? map_value_onto_display_string(element_of_array, options) : element_of_array %>
          </li>
        <% end %>
      </ul>
  <% end %>
<% end %>
