#kaocha/v1
{:tests [{:id :unit
          :ns-patterns ["cmr.umm.test*" "-test$"]}]

 :plugins [:kaocha.plugin.alpha/info
           :kaocha.plugin/cloverage
           :junit-xml
           :print-invocations
           :profiling
           :notifier]

 :color? true

 :fail-fast? false

 :reporter [kaocha.report/dots]

 :kaocha.plugin.junit-xml/target-file "target/junit.xml"}
