{:auth-caching
 {:init {}
   :ttl
    {:minutes 60}
   :lru
    {:threshold 1000}
   :dumpfile "data/cache/authz-dump.edn"}
 :cmr
  {:access
  	{:control
  	  {:protocol "https"
  	   :host "cmr.sit.earthdata.nasa.gov"
  	   :relative
  	     {:root
  	       {:url "/access-control"}}}}
   :edl {:jwt {:public {:key "{
      \"kty\": \"RSA\",
      \"n\": \"3LopSyeoSZZGorSPjk4mMbR0ybVSLvfrONGSGXCNXE6ScX9Y1QC_zV8fVeh4XO8tYDi9CgzqK3Nhjsd5KI0ZzTI8Lf52tyr7OzebZXGZpMvyvdp59wlbPL4WFkIHvWFpgypSrTQIRENKaYW_yQB9srq6JpUx14aRG5TpiBuPqgnGM-qBqPvLq5LX9kVhqbV46TuZd9uPn_gISut7A7K3Y5S24DZd3ebxXPap1cn6-mIY30QG5oYmVlMZxdVPhnTzjj4ZNsfyKSRKq3F_UapEr4ynhr-ONgj8HyozyFqTpUn3o8pKAMVaOEfZmRlqb3jnQknbcsJ9fNxmWUUZr_PysQ\",
      \"e\": \"AQAB\",
      \"kid\": \"edljwtpubkey_sit\"
}"}}
    :rest
    {:protocol "https"
     :host "sit.urs.earthdata.nasa.gov"}}
   :echo
    {:rest
      {:protocol "https"
       :host "cmr.sit.earthdata.nasa.gov"
       :context "/legacy-services/rest"}}}}
