{% extends "templates/access-control-base.html" %}

{% block main-content %}
<h2>Documentation</h2>
<p class="lead">
  Documentation for {{ app-title }} is split out into the following sections:
</p>
<ul>
  <li><a href="{{ base-url }}site/docs/access-control/api">API Documentation</a> - How to access the access control API via an HTTP client</li>
  <li><a href="{{ base-url }}site/docs/access-control/usage">ACL Usage</a> - Using ACLS in the CMR</li>
  <li><a href="{{ base-url }}site/docs/access-control/schema">ACL Schemas</a> - ACL Schema definitions for CMR Access Control</li>
  <li><a href="{{ base-url }}site/docs/access-control/site">Site Documentation</a> - View site routes and web resources</li>
</ul>
{% endblock %}
