[*]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4 #this is important, the markdown for API docs will not see 2 spaces

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
