{% extends "templates/landing.html" %}

{% block tophat-js %}
<script src="https://cdn.earthdata.nasa.gov/tophat2/tophat2.js"
      id="earthdata-tophat-script"
      data-show-fbm="true"
      data-show-status="true"
      data-status-api-url={% if app-environment = "prod" %}"https://status.earthdata.nasa.gov/api/v1/notifications"{% elif app-environment = "uat" %}"https://status.uat.earthdata.nasa.gov/api/v1/notifications"{% elif app-environment = "sit" %}"https://status.sit.earthdata.nasa.gov/api/v1/notifications"{% else %}"https://status.earthdata.nasa.gov/api/v1/notifications"{% endif %}
      data-status-polling-interval="10">
</script>
{% endblock %}
