{:plugin {
   :jarfiles {
     ;; The reducer factory function must take two args: plugin name and plugin
     ;; type -- both of type ^String.
     :reducer-factory cmr.plugin.jar.core/create-regex-plugin-reducer}
   :registry {
     :component-key :plugin
     :default {
       :plugin-name ".*[Pp]lugin.*"
       :plugin-type ".*"
       ;; The fowllowing is an in-JAR path to the config file
       :config-file "cmr-opendap/config.edn"}
     :web {
       :route-keys [:web :route-fns]
       :api-route-key :api
       :site-route-key :site}}}
 :logging {
   :level :debug
   :nss [cmr]
   :color true}}
