#kaocha/v1
{:tests #profile {:default [{:id :integration}]
                  :ci [{:id :integration
                        :skip-meta [:in-memory-db]}]}

 :plugins [:kaocha.plugin.alpha/info
           :kaocha.plugin/randomize
           :capture-output
           :junit-xml
           :print-invocations
           :profiling
           :notifier]

 :color? #profile {:default true
                   :ci false}

 :fail-fast? #profile {:default true
                       :ci false}

 :reporter #profile {:default [kaocha.report.progress/report]
                     :ci [kaocha.report/documentation]}

 :kaocha.plugin.randomize/randomize? false
 :kaocha.plugin.profiling/profiling? false

 :kaocha.plugin.junit-xml/target-file "target/junit.xml"}
