#kaocha/v1
{:tests [{:id :integration
          :test-paths ["test"]}]

 :plugins [:kaocha.plugin.alpha/info
           :junit-xml
           :print-invocations
           :profiling
           :notifier]

 :color? {:default true :ci false}

 :fail-fast? false

 :reporter [kaocha.report/documentation]

 :kaocha.plugin.randomize/randomize? false
 :kaocha.plugin.profiling/profiling? false

 :kaocha.plugin.junit-xml/target-file "target/junit.xml"}
