["test/cmr/system_int_test/access_control"
 "test/cmr/system_int_test/admin"
 "test/cmr/system_int_test/bootstrap"
 "test/cmr/system_int_test/ingest"
 "test/cmr/system_int_test/misc"
 "test/cmr/system_int_test/site"
 "test/cmr/system_int_test/transmit"
 "test/cmr/system_int_test/virtual_product"]
