/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/config
/log
/es_data
/results_compare
/scratch
nohup.out
*.kml
/es_libs
test2junit
build.xml
/resources/elasticsearch/plugins
/resources/elasticsearch/es_libs
dev/no_commit.clj
profiles.clj
.rebl
.calva
