#kaocha/v1
{:tests [{:id :unit
          :ns-patterns ["cmr.search.test*" "-test$"]}]

 :plugins [:kaocha.plugin.alpha/info
           :kaocha.plugin/cloverage
           :junit-xml
           :print-invocations
           :profiling
           :notifier]

 :color? #profile {:default true :ci false}

 :fail-fast? false

 :reporter #profile {:default [kaocha.report.progress/report]
                     :ci [kaocha.report/documentation]}

 :kaocha.plugin.junit-xml/target-file "target/junit.xml"}
