[*]
end_of_line = lf
indent_size = 2
indent_style = space

[*.{md,py}]
indent_size = 4 #this is important, the markdown for API docs will not see 2 spaces
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
