{% extends "templates/http-kit-base.html" %}

{% block main-content %}
<h2>Documentation</h2>
<p class="lead">
  Documentation for {{ app-title }} is split out into two different usage sections:
</p>
<ul>
  <li><a href="{{ base-url }}docs/current/rest-api">REST API Documentation</a> - How to utilize the CMR Service-Bridge bridge API via an HTTP client</li>
  <li><a href="{{ base-url }}docs/current/reference/">Source Code Reference Documentation</a> - Codox-generated source code API documentation</li>
  <li><a href="{{ base-url }}docs/current/marginalia/">Source Code Notes</a> - Annotated source code documentation</li>
</ul>

<p>
  For documentation of previous releases, <a href="{{ base-url }}docs/current/reference/9000-other-versions.html">visit this page</a>.
</p>
{% endblock %}
