<div class="preview-collection">
  <ul class="collection-information-preview">
    <%= render partial: 'shared/preview/fields/display_field_line', locals: {
      key_name: 'Abstract',
      hash_for_key: metadata
    } %>

    <%= render partial: 'shared/preview/fields/display_field_line', locals: {
      key_name: 'Purpose',
      hash_for_key: metadata
    } %>

  </ul>
</div>
